.mobile {
  background: #36393B;
  width: 100%;
}

.sidenav {
  display: none;
}

.content {
  margin-left: 0;
  padding: 1em;
}

.footer {
  margin-left: 0;
}

a {
  text-decoration: none;
}

li a:hover {
  background-color: #2D2F31;
  text-decoration: none;
  color: white;
}

li {
  list-style: none;
}

.image-resize {
  width: 20%;
  margin: 1em 0;
}

.property {
  margin-top: 1em;
  margin-bottom: 1em;
}

div.box>a {
  color: #2D2F31;
}

div.box>a:hover {
  text-decoration: none;
}

.box {
  width: 100%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3);
  margin-bottom: 1em;
  border-top: .5em solid #36393B;
}

.small-box {
  width: 100%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3);
  min-height: 250px;
  margin: 1em 1em 1em 0;
  padding: 0.6em;
  border-top: .5em solid #36393B;
  overflow: scroll;
}

.box-header {
  width: 100%;
}

.header-text {
  padding: 1em;
}

.box-content {
  width: 100%;
  padding: 1em;
  overflow: hidden;
}

.box-footer {
  width: 100%;
  text-align: center;
  padding: 1em 0;
}

.img-profile {
  width: 10em;
  padding: 2em;
}

.dash-container {
  width: 95%;
  max-width: 100%;
  position: relative;
  margin-left: auto;
  margin-right: auto;
}

a>i {
  color: #DE3C4B;
}

.property-update {
  padding: 2em;
}

.flex-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.btn-add-prop {
  width: auto;
}

.btn-edit {
  vertical-align: middle;
  max-width: 15%;
  border-style: none;
  padding: .75em;
  margin: 0.25em;
  color: #DE3C4B;
  background-color: #fff;
}

.profile {
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
}

.btn-edit:hover {
  color: #fff;
  background-color: #DE3C4B;
}

.property-image-cropper {
  max-height: 300px;
  width: 100%;
  object-fit: cover;
}
.edit-tenants{
  margin-top: 2em;
}

@media (min-width: 768px) {
  .mobile {
    display: none;
  }
  .sidenav {
    display: flex;
    flex-direction: column;
    width: 225px;
    margin: 0;
    padding: 0;
    list-style-type: none;
    background: #36393B;
    position: fixed;
    height: 100%;
  }
  .content {
    margin-left: 225px;
  }
  li a {
    display: block;
    color: #fceff9;
    padding: 0.5em;
    font-size: 1em;
    text-decoration: none;
    text-transform: uppercase;
    border-bottom: 1px solid #2D2F31;
    transition: 0.2s;
  }
  .footer {
    margin-left: 225px;
  }
  .image-resize {
    width: 90%;
    margin: 2em 0;
  }
  .property-image-cropper {
    max-height: 400px;
  }
  .edit-tenants{
    margin-top: 0;
  }
}
