@import url('https://fonts.googleapis.com/css?family=Roboto');

* {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  font-family: 'Roboto', sans-serif;
}

main {
  flex: 1;
}

/* BACKGROUND COLORS */
.primary {
  background: #DE3C4B;
}


.hero-image {
  display: flex;
  justify-content: center;
  background-image: url("../images/hero_image.jpeg");
  height: 100vh;
}

.hero-text {
  display: inline;
  text-align: center;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  color: black;
}

.brand-logo {
  height: 10em;
  padding: 0;
  margin: 0;
}

.btn {
  border-style: none;
  padding: .75em;
  margin: 0.25em;
  width: 80%;
  border-radius: .25em;
  background-color: #DE3C4B;
  color: #fff;
}

.btn:hover {
  background-color: #fff;
  color: #DE3C4B;
}

.features {
  margin-top: 5em;
  margin-bottom: 5em;
}

.fa {
  padding: .2em;
}

.footer {
  display: flex;
  flex-direction: column;
  background: #36393B;
  color: #fbf5f3;
}

.copyright {
  flex: 1;
  background: #232526;
  color: #fbf5f3;
}

.copy-title {
  padding: .75em 0;
  margin-bottom: 0;
}

.brand-small {
  width: 10em;
  padding: 1em;
}

.contact {
  padding-top: 1em;
  padding-bottom: 1em;
}

.image-cropper {
  max-height: 100px;
  width: 100%;
  object-fit: cover;
}
.flex-container{
  display: inline-flex;
}

#login-modal {
  margin-top: 3em;
}
.login-form {
  padding: 2em;
}

.login-button {
  margin-top: 2em;
}

/* Media Queries */

@media (min-width: 768px) {
  .btn {
    width: 100%;
  }
  .hero-image {
    display: inherit;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }
  .hero-text {
    text-align: center;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #C42847;
  }
  .hero-btn {
    display: flex;
    flex-direction: row;
  }
}

@media (min-width: 992px) {}

/*
  ===========================================
  Signup Page
  ===========================================
*/
.signup-header {
  display: flex;
}

.signup-header img {
  margin: 2%;
  height: 100px;
}

.signup-form {
  margin: 2% 10%;
  display: flex;
  justify-content: center;
}

.jumbotron {
  width: 75%;
}

.jumbotron form {
  width: 90%;
  margin-left: 5%;
}

.signup-button {
  width: 25%;
}
